
 <html>
     <head>
         <title>Forgot page </title>
         <link rel="stylesheet" href="emailVerification.css">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>

    <body>


<div class="d-flex flex-row justify-content-center">
 <div class="signin_form card py-5 px-5 shadow">
            
            

               <form  id="myform" method="POST"  action="/forgot" >
                    <h1 class="heading pb-4"> Password assistance</h1>
                    <small class="pb-3">Enter the email address or mobile phone number associated with your medico account.
                <div>  
      <label for="email">Email </label><br />
        <!-- or mobile phone number -->
                   <input
                        type="email" 
                        name="email"
                        id="email" 
                        class="form-control"
                      />

                      <label for="password">NEW PASSWORD </label><br />
                      <input
                      type="text" 
                      name="password"
                      id="password" 
                      class="form-control"
                    />
                    <label for="conformpassword">CONFORM PASSWORD </label><br />
                    <input
                    type="password" 
                    name="conformpassword"
                    id="conformpassword" 
                    class="form-control"
                  />
                       <button type="submit" name="submit"   id="Submit-btn" class="w-100 submitBTN  "> Continue </button>

                   

               </form>
           </div>


</div>
</div>


<!-- <script type="text/javascript" src="js/forgot.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

  $(document).ready(function() {

            $("#myform").on('submit', function(e) {
                e.preventDefault();

                let email = $('#email').val();
                let password = $('#password').val();
                let conformpassword = $('#conformpassword').val();
                    let formdata = {
                      email,
                      conformpassword,
                      password

                    }
                $.ajax({
                        url: '/forgot',
                        type: 'POST',
                        // data: JSON.stringify(formdata),
                        data:formdata,
                        error: function(response, error) {
                            // console.log(arguments[0].state);
                              alert(JSON.parse(JSON.stringify(response.responseText)))
                        },

                        success: function(data) {
                           let message = JSON.stringify(data);
                            $('#submit').css('cursor', 'wait');
                           alert(JSON.parse(message))                          
                           window.location.href ="/login"
                                    //should check the status and redirect based on that
                         
                                  
                        },
                      });
                    });

                  });
                    
</script>

    </body>
</html>
